<div class="row text-center">

  <% if @user %>
    <h3>
      <%= @user.full_name %>'s Addresses
    </h3>

    <br>
    <%= link_to new_admin_address_path({user_id: @user.id}) do %>
      <%= button_tag(type: 'button', class: 'btn btn-lg btn-primary') do %>
          <%= content_tag(:strong, "Create a New Address for #{@user.full_name}") %>
      <% end %>
    <% end %>

  <% else %>
    <h3>Viking Store Addresses</h3>
  <% end -%>

</div>
<hr>
<% unless @user %>
  <h4>
    Addresses can only be created in User profile. <a href="admin/users">See all users here.</a>
  </h4>
<% end -%>
<div class="row scrollable">
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Street Address</th>
      <th>Secondary Address</th>
      <th>Zipcode</th>
      <th>City</th>
      <th>State</th>
      <th>User</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <%= render @addresses %>
  </table>
</div>