
<div class = "panel">

  <div class="panel-heading text-center">
    <h2>Sign Up / Sign In</h2>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">          
        <h4>I do NOT have an account...</h4>
        <%= link_to new_user_path  do%>
          <%= button_tag(class: 'btn btn-lg btn-primary') do %>
            <%= content_tag(:strong, "Sign Up") %>
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-6">
        <h4>I have an account...</h4>
        <%=form_tag session_path, method: :post, class: "form-group" do%>
          <%= label_tag :email, "Email Address" %>
          <%= email_field_tag :email, '', class: "form-control" %>

          <%= label_tag :password, "Password" %>
          <%= password_field_tag :password, '', class: "form-control" %>

          <%= submit_tag "Sign In", class: "btn btn-lg btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>

</div>