
<table class= "table">
  <tr>
    <th>ID</th>
    <th>Quantitiy</th>
    <th>Price</th>
    <th>Total Price</th>
    <th>Remove</th>
  </tr>

<form action=<%=order_path(@order)%> method="post">
  <input  name ="_method" type="hidden" value="patch" >
  <input name="utf8" type="hidden" value="✓">
  <input name="authenticity_token" type="hidden" value=<%=form_authenticity_token %>>
    <% @order.order_contents.each do |row| %>
       <tr>
         <td> <%= row.product_id %> </td>
         <td> <input type="text"
              name="[order][ordercontents][<%= row.id %>]"
              value="<%= row.quantity %> "</td>
         <td> <%= number_to_currency(row.product.price) %> </td>
         <td> <%= number_to_currency(row.value) %> </td>
          <td> <%= link_to "Remove", order_content_path(row.id), method: :delete, class: "alert-danger", data: { confirm: "Are you sure you'd like to remove this product in order?" } %></td>
       </tr>
    <%end%>




</table>

      <input type="submit" value="Submit" >
</form>

<%= link_to "Delete Order", order_path(@order), method: :delete, data: {confirm: "Are you sure?"} %>
<!-- params { order => { ordercontents=> {row.product_id => value?, row.product_id2}} } -->