<div class="col-md-6">
<% index = 0 %>
<%= user_field.fields_for :addresses do |address_fields| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <% index += 1 %>
      <h5>Saved Address <%= index %> (optional)</h5>
    </div>
    <div class="panel-body">
      <%= address_fields.label :street_address, "Street Address" %>
      <%= address_fields.text_field :street_address, class: "form-control" %>
      <br>
      <%= address_fields.label :city_id, "City" %>
      <%= address_fields.text_field :city_id, class: "form-control" %>
      <br>
      <%= address_fields.label :state_id, "State" %>
      <%= address_fields.collection_select( :state_id,
                                            State.all,
                                            :id,
                                            :name,
                                            {include_blank: "Select State"},
                                            class: "form-control"
                                          ) %>
      <br>
      <%= address_fields.label :zip_code, "Zip Code" %>
      <%= address_fields.text_field :zip_code, class: "form-control" %>
      <br>
      <% if address_fields.object.persisted? %>
        <%= user_field.radio_button :shipping_id, address_fields.object.id%>
        <%= user_field.label :shipping_id, "Default Shipping Address" %>
        <br>
        <%= user_field.radio_button :billing_id, address_fields.object.id%>
        <%= user_field.label :billing_id, "Default Billing Address" %>
        <br>
        <%= address_fields.check_box :_destroy %>
        <%= address_fields.label :_destroy, "Delete Address" %>
      <% end %>
      <br>
    </div>
  </div>

<% end %>
</div>