<div class="col-md-6">
<% counter = 0 %>
<%= user_field.fields_for :addresses do |address_fields| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <% counter += 1 %>
      <h5>Saved Address <%= counter %> (optional)</h5>
    </div>
    <div class="panel-body">
      <%= address_fields.label :street_address, "Street Address" %>
      <%= address_fields.text_field :street_address %>
      <br>
      <%= address_fields.label :city_id, "City" %>
      <%= address_fields.text_field :city_id %>
      <br>
      <%= address_fields.collection_select( :state_id,
                                            State.all,
                                            :id,
                                            :name
                                          ) %>
      <br>
      <%= address_fields.label :zip_code, "Zip Code" %>
      <%= address_fields.text_field :zip_code %>
      <br>
      <%= user_field.check_box :shipping_id %>
      <%= user_field.label :shipping_id, "Default Shipping Address" %>
      <br>
      <%= user_field.check_box :billing_id %>
      <%= user_field.label :billing_id, "Default Billing Address" %>
      <br>
      <% if address_fields.object.persisted? %>
        <%= address_fields.label :_destroy, "Delete Address" %>
        <%= address_fields.check_box :_destroy %>
      <% end %>
      <br>
    </div>
  </div>

<% end %>
</div>