<div class = "row">
  <div class = "col-sm-12 text-center">
    <h2>Viking Store Users</h2>
    <%= link_to new_user_path do %>
      <%= button_tag(type: 'button', class: 'btn btn-lg btn-primary') do
            content_tag(:strong, 'Create New User')
      end %>
    <% end %>
  </div>
</div>

<hr>

<div class = "row">
  <div class = "col-sm-12 scrollable">
    <table class="table table-bordered">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Joined</th>
          <th>City</th>
          <th>State</th>
          <th>Orders</th>
          <th>Last Order</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td> <%= user.id %> </td>
            <td> <%= user.full_name %> </td>
            <td> <%= user.created_at.to_date %> </td>

            <% if user.cities.empty? %>
              <td> No city </td>
            <% else %>
              <td> <%= user.cities.first.name %> </td>
            <% end -%>

            <% if user.states.empty? %>
              <td> No state </td>
            <% else %>
              <td> <%= user.states.first.name %> </td>
            <% end -%>

            <td> <%= link_to user.orders_checked_out.count, orders_path({:user_id => user.id}) %> </td>

            <% if user.orders_checked_out.empty? %>
              <td> No orders </td>
            <% else %>
              <td> <%= user.orders_checked_out.first.checkout_date.to_date %> </td>
            <% end -%>

            <td> <%= link_to 'Show', user %> </td>
            <td> <%= link_to 'Edit', edit_user_path(user) %> </td>
            <td> <%= link_to 'Delete', user_path(user), method: :delete, class: "alert-danger", 
                    data: { confirm: "Are you sure?" } %> </td>
          </tr>
        <% end %>

    </table>
  </div>
</div>