<h1>User <%= @user.id %>: <%= @user.full_name %></h1>
<h2>Demographic information</h1>
<ul>
  <li>First name: <%= @user.first_name %></li>
  <li>Last name: <%= @user.last_name %></li>
  <li>Email: <%= @user.email %></li>


  <li>Default Billing Address: <br> <%= @user.default_billing_address_id.street_address %></li>
  <li>Default Shipping Address: <br> <%= @user.default_shipping_address_id.street_address %></li>
  <li><%= link_to "Edit #{@user.full_name}/'s information' ", edit_user_path(@user) %></li>
  <li><%= link_to "Delete #{@user.full_name}", user_path(@user), method: :delete,  data: {confirm: "Really really delete this user?"} %></li>
    <li><%= link_to "View Saved Addresses" %></li>
    <li><%= link_to "View Unplaced Order (Cart)" %></li>
</ul>
