<%= form_for @cart do |cart_fields| %>
 
    <%= cart_fields.fields_for :order_contents do |oc_fields| %>
  <tr>
      <td class="col-sm-7">
          <%= content_tag :div do -%>
            <%= oc_fields.object.product.name %><br>
            <%= oc_fields.object.product.category.name %><br>
            $<%= oc_fields.object.product.price %>
          <% end -%>
      </td>
      <td class="col-sm-5">
          <%= content_tag :div do -%>
            <%= oc_fields.label :quantity, "quantity" %>
            <%= oc_fields.text_field :quantity%><br>

            <%= oc_fields.label :_destroy,"Remove Item" %>
            <%= oc_fields.check_box :_destroy %><br>

            Total Price: $<%= oc_fields.object.value %>
          <% end -%>
      </td>
  </tr>

    <%end%>
    <tr>
    <td class="col-sm-7">
      Total: $<%= @cart.value %>
    </td>
    <td class="col-sm-5">
      
      <%= cart_fields.submit "Update Order Contents" %>
    </td>
    </tr>
<% end %>