<%= form_for @order do |f| %>

  <div class = "row">
    <div class = "col-sm-4 col-sm-push-4">
      <h3>Logistical information</h3>
    </div>
  </div>

  <div class = "row">
    <div class = "col-sm-6">
      <h4>Basic information</h4>
    </div>
  </div>

  <div class = "row">
    <div class = "col-sm-3">
      <p>
        <strong>Customer ID: </strong>
      </p>
    </div>

    <div class = "col-sm-8">
      <p>
        <%= @user.id %>
      </p>
    </div>

  </div><br>

  <input type="hidden" id="user_id" name="order[user_id]" value=<%= @user.id %> />

  <div class = "row">
    <div class = "col-sm-3">
      <p>
        <strong>Customer: </strong>
      </p>
    </div>

    <div class = "col-sm-8">
      <p>
        <%= link_to "#{@user.full_name} (click to view)", @user %>
      </p>
    </div>
  </div><br>

  <div class = "row">
    <div class = "col-sm-3">
      <p>
        <strong>Date Placed: </strong>
      </p>
    </div>

    <div class = "col-sm-8">
      <p>
        <%= @order.checkout_date ? @order.checkout_date : "N/A" %>
      </p>
    </div>
  </div><br>

  <%= link_to "Edit Customer Profile", edit_user_path(@user) %>


  <div class = "row">

    <div class = "col-sm-12">
      <%=f.label :shipping_address %>
    </div>

    <div class = "col-sm-8">
      <%= f.collection_select(:shipping_address, @user.addresses, :id, :street_address) %>
    </div>

  </div><br>

  <div class = "row">

    <div class = "col-sm-12">
      <%=f.label :billing_address %>
    </div>

    <div class = "col-sm-8">
      <%= f.collection_select(:billing_address, @user.addresses, :id, :street_address) %>
    </div>

  </div><br>

  <div class = "row">

    <div class = "col-sm-12">
      <%=f.label :credit_card_id %>
    </div>

    <div class = "col-sm-8">
      <%= f.collection_select(:credit_card_id, @user.credit_cards, :id, :card_number) %>
    </div>

  </div><br>

  <%= content_tag :div, class: "form-group" do -%>
    <% if @order.id %>
      <%= f.submit "Update Order Information", class: 'btn btn-lg btn-success' %>
    <% else %>
      <%= f.submit "Create Order in Shopping Cart", class: 'btn btn-lg btn-success' %>
      <p>You can add products on the next screen, once it's been created.</p>
    <% end %>
  <% end -%>
<% end %>


<% if @order.id %>
  <%= link_to user_path(@user), method: :delete, class: "alert-danger", data: { confirm: "Are you sure?" } do %>
    <%= button_tag(type: 'button', class: 'btn btn-lg btn-alert-danger') do %>
      <%= content_tag(:strong, 'Delete Order') %>
    <% end %>
  <% end %>
<% end -%>



