<tr>
  <td><%= address.id %></td>
  <td><%= address.street_address %></td>
  <td><%= address.secondary_address %></td>
  <td><%= address.zip_code %></td>
  <td><%= address.city.name %></td>
  <td><%= address.state.name %></td>
  <td><%= link_to "#{address.user.full_name}", user_path(address.user.id) %></td>

  <td><%= link_to "Show", address_path(address) %></td>
  <td><%= link_to "Edit", edit_address_path(address) %></td>
  <td><%= link_to "Delete", address_path(address), method: :delete,class: "alert-danger", data: {confirm: "Really really delete this address?"} %></td>
</tr>