<%= form_for [:admin, @user] do |f| %>

  <%= content_tag :div, class: "form-group" do -%>
    <% if @user.id.nil? %>
      <h4>Welcome, valued user</h4>
    <% else %>
      <h4>Welcome <%= @user.full_name %></h4>
    <% end %>
  <% end -%>

  <%= content_tag :div, class: "form-group" do -%>
    <%= f.label "First name" %>
    <%= f.text_field :first_name, class: "form-control" %>
  <% end -%>


  <%= content_tag :div, class: "form-group" do -%>
    <%= f.label "Last name" %>
    <%= f.text_field :last_name, class: "form-control" %>
  <% end -%>

  <%= content_tag :div, class: "form-group" do -%>
    <%= f.label "Email" %>
    <%= f.text_field :email, class: "form-control" %>
  <% end %>

   <%= content_tag :div, class: "form-group" do -%>
  <%= f.label "Default shipping address" %><br>
    <%if @user.addresses.first%>
      <%= f.collection_select(:addresses, @user.addresses, :id, :street_address) %>
    <%else%>
      <%= f.collection_select(:addresses, @user.addresses, :id, :street_address, {},{:disabled => "disabled"} ) %>
    <% end -%>

  <% end -%>

  <%= content_tag :div, class: "form-group" do -%>
  <%= f.label "Default billing address" %><br>
    <%if @user.addresses.first%>
      <%= f.collection_select(:addresses, @user.addresses, :id, :street_address) %>

      <br><br>
      <%= link_to "View saved addresses" , admin_addresses_path({user_id: @user.id}) %>
    <%else%>
      <%= f.collection_select(:addresses, @user.addresses, :id, :street_address, {},{:disabled => "disabled"} ) %>
    <% end -%>

  <% end -%>



  <%= content_tag :div, class: "form-group" do -%>
    <% if @user.id.nil? %>
      <%= f.submit "Create new user", class: 'btn btn-lg btn-success' %>
    <% else %>
      <%= f.submit "Update user", class: 'btn btn-lg btn-success' %>
    <% end %>

  <% end -%>

<% end -%>

<% unless @user.id.nil? %>
    <%= link_to admin_user_path(@user), method: :delete, class: "alert-danger", data: { confirm: "Are you sure?" } do %>
      <%= button_tag(type: 'button', class: 'btn btn-lg btn-alert') do
            content_tag(:strong, 'Delete User')
      end %>
    <% end %>
  <% end -%>