<% form_for [:admin, @order] do |f| %>
<table>
  <tr>
    <th>ID</th>
    <th>Quantitiy</th>
    <th>Price</th>
    <th>Total Price</th>
    <th>Remove</th>
  </tr>

      <% @order.order_contents.each do |row| %>
         <tr>
           <td> <%= row.product_id %> </td>
           <input value=<%= row.quantity %>
           <td> <input type="text"
                id=[ordercontents][<%= row.product_id %>]
                value=<%= row.quantity %> </td>
           <td> <%= number_to_currency(row.product.price) %> </td>
           <td> <%= number_to_currency(row.value) %> </td>
            <td> <%= link_to "Remove", admin_order_content_path(row.id), method: :delete, class: "alert-danger", data: { confirm: "Are you sure you'd like to remove this product in order?" } %></td>
         </tr>
      <%end%>



  <%= f.submit "Update Order Contents" %>
</table>

<!-- params { order => { ordercontents=> {row.product_id => value?, row.product_id2}} } -->